.event-details {
  display: flex;
  align-items: center;
  height: 100vh;
}

.event-details .col-md-4 {
  align-self: center;
}

.event-details .eventParent {
  margin-top: 100px;
  padding: 20px;
}

@media (max-width: 768px) {
  .event-details .eventParent {
    margin-top: 220px;
  }
}
